//@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
body {
  background-color: #ededed !important;
  font-family: 'Tangerine', serif;
  font-size: 15px;
  font-family: 'Droid Sans', sans-serif;
  height:100vh;
  margin: 0;
}
