$goodIconPosition: 200px ;
$poopIconWidth: 200px;

.verbChecker {
  width: 100%;
  margin: 0 auto;
}
.verbForm{
  display:inline-block;
  width: 90%;
  max-width: 444px;
  margin: 0 auto ;
  text-align:center;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.inputButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.poopIcon {
  display:inline-block;
  width: $poopIconWidth;
  vertical-align: middle;
  z-index: 1000;
}
.validationIconGood{
  width: 150px;
  display:block;
  position:absolute;
  left:200px;
  right:0;
  bottom:150px;
  margin:auto;
  z-index: 1000;
}
.validationIconBad {
  width:150px;
  display:block;
  position:absolute;
  left:0;
  right:200px;
  bottom:150px;
  margin:auto;
  z-index: 1000;
}

.poopIcon-enter {
  opacity: 0.01;
  width: 20px;
}

.poopIcon-enter.poopIcon-enter-active {
  opacity: 1;
  width: 150px;
  transition: opacity 150ms ease-in, width 200ms ease-in;
}

.poopIcon-leave {
  opacity: 1;
}

.poopIcon-leave.poopIcon-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.labelAnimation-enter {
  opacity: 0.01;
  width: 20px;
}

.labelAnimation-enter.labelAnimation-enter-active {
  opacity: 1;
  width: 150px;
  transition: opacity 150ms ease-in, width 200ms ease-in;
}

.labelAnimation-leave {
  opacity: 1;
}

.labelAnimation-leave.labelAnimation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
